.main-block .default .title {
   width: 100%;
   text-align: center;
   font-size: 30px;
   padding-bottom: 10px;
}

div.default li {
   list-style-type: none;
   border: 1px solid #CCC;
}

div.default li .one-item {
   padding: 20px;
   display: flex;
}

div.default li .one-item * {
   box-sizing: border-box;
}

div.default li .one-item:hover {
   background-color: #EFEFEF;
   cursor: pointer;
}

div.default li .one-item.choosen {
   background-color: #EFEFEF;
}

/* tasks */
div.default .li-item {
   list-style-type: none;
   border: 1px solid #CCC;
}

div.default .li-item .one-item {
   padding: 20px;
   display: flex;
}

div.default .li-item .one-item * {
   box-sizing: border-box;
}

div.default .li-item .one-item:hover {
   background-color: #EFEFEF;
   cursor: pointer;
}

div.default.tasks .li-item .one-item {
   padding: 1%;
   min-height: 33px;
}

div.default.tasks .li-item .one-item:hover {
   background-color: inherit;
   cursor: default;
}

.one-item .item-text {
   flex-basis: 70%;
}

.one-item .item-buttons {
   flex-basis: 30%;
   display: flex;
}

.one-item .item-buttons div {
   flex-basis: 33%;
   min-width: 30px;
   height: 100%;
}

.one-item .item-buttons .edit-item,
.one-item .item-buttons .done-item,
.one-item .item-buttons .delete-item {
   background-size: 100%;
   background-repeat: no-repeat;
}

.one-item .item-buttons .edit-item:hover,
.one-item .item-buttons .done-item:hover,
.one-item .item-buttons .delete-item:hover {
   cursor: pointer;
}

.one-item .item-buttons .edit-item {
   background-image: url(../img/edit.png);
}

.one-item .item-buttons .done-item {
   background-image: url(../img/done.png);
}

.one-item .item-buttons .delete-item {
   background-image: url(../img/delete.png);
}

.item-text.line-through {
   text-decoration: line-through;
}

/* calendar */
.calendar-block {
   width: 100%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.calendar-block .item-day {
   width: calc(100%/7);
   height: 25px;
   display: flex;
   background-color: #DFDFDF;
   border: 1px solid white;
}

.calendar-block .item-day:hover {
   cursor: pointer;
}

.calendar-block .item-day .day-num {
   width: auto;
   margin: auto;
}

.month-title {
   text-align: center;
   width: 100%;
   font-size: 18px;
   padding-top: 2%;
   padding-bottom: 2%;
}
