.categories .defaultBlock__one-item__buttons .edit-item {
   width: 23px;
   height: 23px;
}
.categories .defaultBlock__one-item__buttons .delete-item {
   width: 25px;
   height: 25px;
}
.categories .defaultBlock__one-item__title {
   flex-basis: 82%;
}
.categories .defaultBlock__one-item__buttons {
   flex-basis: 18%;
}
