.defaultBlock__one-item__title.taskDone {
   text-decoration: line-through;
}
.tasks .defaultBlock__one-item__buttons .delete-item,
.tasks .defaultBlock__one-item__buttons .done-item {
   width: 25px;
   height: 25px;
}
.tasks .defaultBlock__one-item__buttons .schedule {
   width: 24px;
   height: 24px;
}
.tasks .defaultBlock__one-item__buttons .not-done-item {
   width: 23px;
   height: 23px;
}
.defaultBlock__one-item.scheduled .defaultBlock__one-item__title {
   flex-basis: 82%;
}
.defaultBlock__one-item.scheduled .defaultBlock__one-item__buttons {
   flex-basis: 18%;
}
.defaultBlock.tasks.calendar .defaultBlock__one-item__title {
   flex-basis: 82%;
}
.defaultBlock.tasks.calendar .defaultBlock__one-item__buttons {
   flex-basis: 18%;
}

.defaultBlock.tasks.calendar .defaultBlock__one-item.scheduled .defaultBlock__one-item__title {
   flex-basis: 90%;
}
.defaultBlock.tasks.calendar .defaultBlock__one-item.scheduled .defaultBlock__one-item__buttons {
   flex-basis: 10%;
}
